# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/obj/*
/ReserveerBackend/obj/*
/ReserveerBackend/bin/*
/.vs/*

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log*
testem.log

ReserveerBackend/ShutdownKey\.txt

API_Test/API_Test/API_Test/obj/

API_Test/API_Test/API_Test/bin/

API_Test/API_Test/\.vs/
